*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: hsl(0, 0%, 100%);
    background-color: hsl(217, 54%, 11%);
}
main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif; }

.container {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap:1em;
    background-color: hsl(216, 50%, 16%);
    border-radius: 1.5rem;
}
.container .card-box{
    display: flex;
    background-color: hsl(216, 50%, 16%);
    width: 100%;
    flex-direction: column;
    padding: 2em;
    gap:2em;
    border-radius: 1rem;
}
.card-box .image{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.card-box .image img{
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}
.card-box h1{
    font-size: clamp(1rem, 2.5vw, 2rem); 

}
.card-box .description h2{
    color:hsl(215, 51%, 70%);
    font-size: clamp(0.8rem, 2.2vw, 1.8rem); 
    font-weight: 300;
}
.card-box .coin{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: clamp(0.6rem, 1.5vw, 1rem); 
    
}
.coin #eth{
    color: hsl(178, 100%, 50%);
    font-weight: 600;
}
.coin #time{
    color: hsl(215, 51%, 70%);
    font-weight: 300;
}
.coin #eth,
.coin #time{
    display: flex;
    align-items: center;
    gap: 0.5em;
}

/* Border  */
.card-box .border-line{
    border: 1px solid hsl(215, 32%, 27%);
}

/* Creator */
.card-box .creator {
    display: flex;
    align-items: center;
    gap: 1em;
    font-size: clamp(0.6rem, 1.5vw, 1rem); 
}
.creator .creator-text{
    display: flex;
    flex-direction: row;

}
.card-box .creator .avatar{
    height: 2.5em;
    border: 1px solid #fff;
    border-radius: 50%;
}

.creator .creator-text{
    display: flex;
    align-items: center ;
    gap: 0.5em;
}
@media only screen and (max-width: 670px){
    .container{
        width:70%;
    }
    .container .card-box{
        gap: 1em;
    }
}